APTLY_DIGEST=XXX
APTLY_URL=XXX
MACOS_APP_STORE_API_KEY=XXX
MACOS_CERTIFICATE_NAME=XXX
MACOS_CERTIFICATE_PWD=XXX
MACOS_CERTIFICATE=XXX
MACOS_NOTARIZATION_APPLE_ID=XXX
MACOS_NOTARIZATION_PWD=XXX
MACOS_NOTARIZATION_TEAM_ID=XXX
RSTREAM_TOKEN=XXX
RSTREAM_URL=XXX
